body {-webkit-nbsp-mode:normal !important;margin: 0px !important;padding:0px !important;line-height:1.4 !important;} .wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{margin:0px !important;padding:0px !important;text-align:left;} .wafxText  a{font-weight:400;font-style:normal;text-decoration:none;color:#3959a2;} .wafxText  a:visited{font-weight:400;font-style:normal;text-decoration:none;color:#3959a2;} .wafxText p.waStyle-858dd092-cb99-4963-acbe-9f990eea66a1,.wafxText h1.waStyle-858dd092-cb99-4963-acbe-9f990eea66a1,.wafxText h2.waStyle-858dd092-cb99-4963-acbe-9f990eea66a1,.wafxText h3.waStyle-858dd092-cb99-4963-acbe-9f990eea66a1,.wafxText h4.waStyle-858dd092-cb99-4963-acbe-9f990eea66a1,.wafxText h5.waStyle-858dd092-cb99-4963-acbe-9f990eea66a1,.wafxText h6.waStyle-858dd092-cb99-4963-acbe-9f990eea66a1{text-align:left;} .waStyle-858dd092-cb99-4963-acbe-9f990eea66a1 a:link{font-weight:400;font-style:normal;text-decoration:none;color:#3959a2;} .waStyle-858dd092-cb99-4963-acbe-9f990eea66a1 a:visited{font-weight:400;font-style:normal;text-decoration:none;color:#3959a2;} .wafxText p.waStyle-8745212d-13ca-4022-84a6-273e9a8c9182,.wafxText h1.waStyle-8745212d-13ca-4022-84a6-273e9a8c9182,.wafxText h2.waStyle-8745212d-13ca-4022-84a6-273e9a8c9182,.wafxText h3.waStyle-8745212d-13ca-4022-84a6-273e9a8c9182,.wafxText h4.waStyle-8745212d-13ca-4022-84a6-273e9a8c9182,.wafxText h5.waStyle-8745212d-13ca-4022-84a6-273e9a8c9182,.wafxText h6.waStyle-8745212d-13ca-4022-84a6-273e9a8c9182{text-align:left;} .waStyle-8745212d-13ca-4022-84a6-273e9a8c9182 a:link{font-weight:400;font-style:normal;text-decoration:none;color:#646464;} .waStyle-8745212d-13ca-4022-84a6-273e9a8c9182 a:visited{font-weight:400;font-style:normal;text-decoration:none;color:#646464;} 
.wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
.wafxText p.waStyle-858dd092-cb99-4963-acbe-9f990eea66a1,.wafxText h1.waStyle-858dd092-cb99-4963-acbe-9f990eea66a1,.wafxText h2.waStyle-858dd092-cb99-4963-acbe-9f990eea66a1,.wafxText h3.waStyle-858dd092-cb99-4963-acbe-9f990eea66a1,.wafxText h4.waStyle-858dd092-cb99-4963-acbe-9f990eea66a1,.wafxText h5.waStyle-858dd092-cb99-4963-acbe-9f990eea66a1,.wafxText h6.waStyle-858dd092-cb99-4963-acbe-9f990eea66a1{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
.wafxText p.waStyle-8745212d-13ca-4022-84a6-273e9a8c9182,.wafxText h1.waStyle-8745212d-13ca-4022-84a6-273e9a8c9182,.wafxText h2.waStyle-8745212d-13ca-4022-84a6-273e9a8c9182,.wafxText h3.waStyle-8745212d-13ca-4022-84a6-273e9a8c9182,.wafxText h4.waStyle-8745212d-13ca-4022-84a6-273e9a8c9182,.wafxText h5.waStyle-8745212d-13ca-4022-84a6-273e9a8c9182,.wafxText h6.waStyle-8745212d-13ca-4022-84a6-273e9a8c9182{color:#000000;font-family:Impact;font-size:20px;;font-weight:400;;}
.smt-wa-default{
color:#000000;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:13px;
}
.smt-wa-default a{
color:#0000ff !important;text-decoration:underline !important;}

.comp_0{background-color:rgba(0,0,0,0);position:absolute;z-index:50615;}
.comp_1{background-color:rgba(0,0,0,0);position:absolute;z-index:51700;}
.comp_2{background-color:rgba(0,0,0,0);position:absolute;z-index:53725;}
.comp_3{position:absolute;z-index:57465;}
.comp_4{background-color:rgba(0,0,0,0);position:absolute;z-index:64945;}
.comp_5{position:absolute;z-index:64940;}
.comp_6{position:absolute;z-index:72415;}
.comp_7{background-color:rgba(0,0,0,0);position:absolute;z-index:57470;}
.comp_8{background-color:rgba(0,0,0,0);position:absolute;z-index:79890;}
.comp_9{background-color:rgba(0,0,0,0);position:absolute;z-index:83620;}
body{background-color:#ffffff;background-image:url(./wafx_res/Images/0--1-topo.png);background-repeat:repeat-x;}
.blockPage{transform:scale(1) ;transform-origin:top left;width:1024px;}
.blockPagecontainer{width:1024px;}
.compVis_0{display:block;}
.compVis_1{display:block;}
.compVis_2{display:block;}
.compVis_3{display:block;}
.compVis_4{display:block;}
.compVis_5{display:block;}
.compVis_6{display:block;}
.compVis_7{display:block;}
.compVis_8{display:block;}
.compVis_9{display:block;}
.comp_0{height:100px;left:0.5px;top:0px;width:163px;}
.comp_0 .wafx-smt-txt-wrap{width:143px;}
.comp_1{height:100px;left:163px;top:0px;width:163px;}
.comp_1 .wafx-smt-txt-wrap{width:143px;}
.comp_2{height:100px;left:326.5px;top:0px;width:163px;}
.comp_2 .wafx-smt-txt-wrap{width:143px;}
.comp_3{height:627px;left:348px;top:183.5px;width:332px;}
.comp_3 .wafx-img-picture{height:499px;left:0px;top:64px;width:332px;}
.comp_4{height:203px;left:1px;top:543px;width:326px;}
.comp_4 .wafx-smt-txt-wrap{width:306px;}
.comp_5{height:627px;left:1.10449px;top:183.5px;width:332px;}
.comp_5 .wafx-img-picture{height:499px;left:0px;top:64px;width:332px;}
.comp_6{height:627px;left:692px;top:183px;width:332px;}
.comp_6 .wafx-img-picture{height:499px;left:0px;top:64px;width:332px;}
.comp_7{height:203px;left:345.896px;top:543px;width:326px;}
.comp_7 .wafx-smt-txt-wrap{width:306px;}
.comp_8{height:203px;left:698px;top:544px;width:326px;}
.comp_8 .wafx-smt-txt-wrap{width:306px;}
.comp_9{height:100px;left:490px;top:0px;width:163px;}
.comp_9 .wafx-smt-txt-wrap{width:143px;}
.textShape_1024{display:block;}
.waBlockSocialBar{display:none;}
.wafx-vis-1024{display:block;}
.wafxBanner{top:1000px;}
.wafxCompFluid{left:calc( 0px - (100vw - 1024px) / 2);width:calc(100vw - 10px);}

@media(max-width:1034px){
.wafxCompFluid{
left:0px;
width:1024px;
}
}
.smt-para-wa-1{
margin:10px !important;align-self:center !important;
}
.smt-wa-1-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:center;font-weight:700;font-style:normal;font-family:'Impact';font-size:24px;
}
.smt-wa-1-block-0 a{
color:#eeffff !important;font-weight:bold !important;text-decoration:none !important;}
.smt-wa-1-block-0 a:hover{
color:#be4eca !important;font-weight:bold !important;text-decoration:none !important;}
.smt-para-wa-2{
margin:10px !important;align-self:center !important;
}
.smt-wa-2-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:center;font-weight:400;font-style:normal;font-family:'Impact';font-size:24px;
}
.smt-wa-2-block-0 a{
color:#ffffff !important;text-decoration:none !important;}
.smt-wa-2-block-0 a:hover{
color:#7f3a98 !important;text-decoration:none !important;}
.smt-para-wa-3{
margin:10px !important;align-self:center !important;
}
.smt-wa-3-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:center;font-weight:400;font-style:normal;font-family:'Impact';font-size:24px;
}
.smt-wa-3-block-0 a{
color:#ffffff !important;text-decoration:none !important;}
.smt-wa-3-block-0 a:hover{
color:#7f3a98 !important;text-decoration:none !important;}
.smt-para-wa-5{
margin:10px !important;align-self:flex-start !important;
}
.smt-wa-5-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:justify;font-weight:400;font-style:normal;font-family:'Verdana';font-size:13px;
}
.smt-wa-5-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-para-wa-8{
margin:10px !important;align-self:flex-start !important;
}
.smt-wa-8-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:justify;font-weight:400;font-style:normal;font-family:'Verdana';font-size:13px;
}
.smt-wa-8-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-para-wa-9{
margin:10px !important;align-self:flex-start !important;
}
.smt-wa-9-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:justify;font-weight:400;font-style:normal;font-family:'Verdana';font-size:13px;
}
.smt-wa-9-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-para-wa-10{
margin:10px !important;align-self:center !important;
}
.smt-wa-10-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:center;font-weight:400;font-style:normal;font-family:'Impact';font-size:24px;
}
.smt-wa-10-block-0 a{
color:#ffffff !important;text-decoration:none !important;}
.smt-wa-10-block-0 a:hover{
color:#7f3a98 !important;text-decoration:none !important;}
